

.level_container{
    width: 46px;
    background-color: white;  
    text-align: center;  

    .bar {
        background-color: var(--color-soft-red);
        margin: 6px;
        border-radius: 5px;
        height: 10px;
        cursor: pointer;
    }

    .bar:hover {
        background-color: var(--color-very-pale-orange);
    }


    .barMax {
        background-color: var( --color-cyan);
    }

    .barMax:hover {
        background-color: var(--color-cyan-soft);
    }




    .day {
        font-size: 10px;
        color: var(--color-medium-brown); 
    }

    .amount {
        font-size: 12px;
       background-color: black;
       color: white;
       padding: 5px 0px;
       border-radius: 5px;
    }

    
}