.container {
    width: 350px;
    height: 110px;
    background-color: var(--color-soft-red);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;

    .text_container{
        margin: 25px;

        h3{
            font-size: 15px;
            font-weight: 400;
            margin-bottom: 5px;
        }
    }

    img {
        margin: 25px;
    }

    
}